<div class="row">
    <div *ngFor="let device of devices" class="col-sm-4 col-md-3 col-lg-2 mt-3">
        <div class="card">
            <div class="card-header unavailable"
                *ngIf="device.currentOperationStatus=='UNAVAILABLE' || device.currentOperationStatus===null">
                {{device.description.manufacturer}} (L{{device.description.model}}) - DISCONNECTED</div>
            <div class="card-header active"
                *ngIf="device.currentOperationStatus=='ACTIVE' || device.currentOperationStatus=='READY'">
                {{device.description.manufacturer}} (L{{device.description.model}}) - RUNNING</div>
            <div class="card-header warning"
                *ngIf="device.currentOperationStatus=='STOPPED' && device.emgStop!='TRIGGERED' || device.currentOperationStatus=='INTERRUPTED' && device.emgStop!='TRIGGERED'">
                {{device.description.manufacturer}} (L{{device.description.model}}) - PAUSED</div>
            <div class="card-header emg" *ngIf="device.emgStop=='TRIGGERED'">
                {{device.description.manufacturer}} (L{{device.description.model}}) - EMG STOPPED</div>
            <div>
                <div class="panel-body">Parts No: {{device.partNo}}</div>
                <div class="panel-body">Part: {{device.currentPartsCount}} | Total target: {{device.prodTarget}}</div>
                <div class="panel-body font-weight-bold successText"
                    *ngIf="(device.currentPartsCount/((device.prodTarget/12)*timeIndex))>=1">
                    Productivity/hour (%):
                    {{(device.currentPartsCount/((device.prodTarget/12)*timeIndex))*100|number:'3.0-0'}}</div>
                <div class="panel-body font-weight-bold emgText"
                    *ngIf="(device.currentPartsCount/((device.prodTarget/12)*timeIndex))<0.8">
                    Productivity/hour (%):
                    {{(device.currentPartsCount/((device.prodTarget/12)*timeIndex))*100|number:'3.0-0'}}</div>
                <div class="panel-body font-weight-bold"
                    *ngIf="0.8<(device.currentPartsCount/((device.prodTarget/12)*timeIndex)) && (device.currentPartsCount/((device.prodTarget/12)*timeIndex))<1">
                    Productivity/hour (%):
                    {{(device.currentPartsCount/((device.prodTarget/12)*timeIndex))*100|number:'3.0-0'}}</div>
            </div>
            <a [routerLink]="['/detail/', device.id]" class="stretched-link"></a>
        </div>
    </div>
</div>