<div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
            <div class="card-body">
                <h3 class="card-title text-center">Login</h3>
                <form class="form-signin">
                    <div class="form-label-group">
                        <input type="text" id="inputId" class="form-control" placeholder="ID" required
                            [(ngModel)]="username" name="inputId" autofocus>
                    </div>
                    <br>
                    <div class="form-label-group">
                        <input type="password" id="inputPassword" class="form-control" placeholder="Password"
                            [(ngModel)]="password" name="inputPassword" required>
                    </div>
                    <br>
                    <button class="btn btn-lg btn-primary btn-block text-uppercase" (click)="checkLogin()"
                        type="submit">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>